/target/debug
/target/release
/target/release/.fingerprint
/target/xtensa-esp32s3-none-elf/release/.fingerprint
/web/hil-dashboard/.next
/web/hil-dashboard/node_modules
/target/xtensa-esp32s3-espidf
/.embuild
web/.DS_Store
web/.DS_Store
/target/xtensa-esp32-espidf/release
plan.md
web/.DS_Store
/data
target/.rustc_info.json
data/telemetry.db/db
/target/xtensa-esp32-espidf/debug
